{% extends "base.html" %}
{% load bootstrap %}

{% block title %}論文・参考書紹介用リスト{% endblock title %}

{% block content %}
    <h3 class="page-header">紹介用論文の編集</h3>
    {% if paper_id %}
    <form action="{% url 'cms:paper_mod' paper_id=paper_id %}" method="post" class="form-horizontal" role="form">
    {% else %}
    <form action="{% url 'cms:paper_add' %}" method="post" class="form-horizontal" role="form">
    {% endif %}
      {% csrf_token %}
      {{ form|bootstrap_horizontal }}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">送信</button>
        </div>
      </div>
    </form>
    <a href="{% url 'cms:paper_list' %}" class="btn btn-default btn-sm">戻る</a>
{% endblock content %}
